<p id="notice"><%= notice %></p>

<p>
  <strong>Carname:</strong>
  <%= @car.carname %>
</p>

<p>
  <strong>Carprice:</strong>
  <%= @car.carprice %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
